main {
  transition: all 0.5s ease;
}
.three-columns {
  width: 95%;
  margin: 0 auto;
  padding: 50px 0;
  .container {
    padding: 0;
    .row {
      .article {
        box-shadow: $elements-box-shadow;
        border-radius: 6px;
        @include md {
          width: 30%;
        }
        .image-wrapper {
          display: block;
          border-radius: 6px 6px 0 0;
          overflow: hidden;
          transition: all 0.5s ease;
          cursor: pointer;
          .article__image {
            transition: all 0.5s ease;
          }
        }
        .image-wrapper:hover .article__image {
          transform: scale(1.2);
          transition: all 0.5s ease;
        }
        &__image{
          width: 100%;
          display: block;
          border-radius: 6px 6px 0 0;
        }
        &__text-wrapper {
          border-radius: 0 0 6px 6px;
          padding: 40px 20px;
          background-color: #fff;
          @include md {
            padding: 60px 20px;
          }
        }
        &__title {
          font-weight: bold;
          font-size: 2.5rem;
          margin-bottom: 10px;
          color: $text-color;
          @include md {
            font-size: 2.6rem;
            margin-bottom: 15px;
          }
        }
        &__text {
          font-size: 1.5rem;
          margin-bottom: 20px;
          color: lighten($text-color,25%);
          @include md {
            font-size: 1.7rem;
            margin-bottom: 35px;
          }
        }
        &__description {
          color: lighten($text-color,25%);
          font-size: 1.4rem;
          line-height: 2rem;
          @include md {
            font-size: 1.6rem;
            line-height: 3.5rem;
          }
        }
      }
      .article:nth-child(2) {
        margin: 50px 0;
        @include md {
          margin: 0;
        }
      }
    }
  }
}