.btn {
  background-color: rgba(0, 0, 0, 0.05);
  display: block;
  text-align: center;
  padding: 15px 0;
  color: #444;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  background-color: $border-btn-color;
  color: #fff;
}